@model leave_management.Models.CreateLeaveAllocationVM

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<table class="table">
    <thead>
        <tr>
            
            <th>
                Leave Types
            </th>
            
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.LeaveTypes) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            
            <td>
                @*@Html.ActionLink("Allocate To Employees", "SetLeave", new {  id=item.Id  }, new { @class = "btn btn-success" })*@
                <a class="btn btn-outline-success" asp-action="SetLeave" asp-route-id="@item.Id">
                    <i class="fas fa-user-edit"></i> Allocate To Employees
                </a> 
            </td>
        </tr>
}
    </tbody>
</table>
