@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center alert alert-dark" >
        <h1 class="display-4">Leave Management System with ASP.NET Core 3.1</h1>
    </div>
    <div class="jumbotron">
        <h5>Learn about:</h5>
        <ul>
            <li>
                <p>.NET Core 3.1</p>
            </li>
            <li>
                <p>ViewModels and AutoMapper</p>
            </li>
            <li>
                <p>Entity Framework, Code First</p>
            </li>
            <li>
                <p>Dependency Injection</p>
            </li>
            <li>
                <p>Repository Pattern</p>
            </li>
            <li>
                <p>Identity and Authentication</p>
            </li>
            <li>
                <p>Bootstrap 4 and AdminLTE</p>
            </li>
            <li>
                <p>Client and Server Side Validation</p>
            </li>
            <li>
                <p>Linq Queries and Lambda Expressions</p>
            </li>
        </ul>
    </div>


