@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
    <div class="hold-transition login-page">
        <div class="login-box">
            <div class="login-logo">
                <h1>Login</h1>
            </div>
            <!-- /.login-logo -->
            <div class="card">
                <div class="card-body login-card-body">
                    <p class="login-box-msg">Sign in to <strong>Core Leave Management</strong></p>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <form id="account" method="post">
                        <div class="input-group mb-3">
                            <input asp-for="Input.Email" class="form-control" placeholder="Email">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-envelope"></span>
                                </div>
                            </div> <br />
                        </div>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                        <div class="input-group mb-3">
                            <input asp-for="Input.Password" class="form-control" placeholder="Password">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div><br />
                        </div>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                        <div class="row">
                            <div class="col-8">
                                <div class="icheck-primary">
                                    <input type="checkbox" id="remember">
                                    <label for="remember">
                                        Remember Me
                                    </label>
                                </div>
                            </div>
                            <!-- /.col -->
                            <div class="col-4">
                                <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                            </div>
                            <!-- /.col -->
                        </div>
                    </form>

                    <p class="mb-1">
                        <a asp-page="./ForgotPassword">I forgot my password</a>
                    </p>
                    <p class="mb-0">
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="text-center">Register</a>
                    </p>
                </div>
                <!-- /.login-card-body -->
            </div>
        </div>
    </div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
