@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

    <div class="hold-transition register-page">
        <div class="register-box">
            <div class="register-logo">
                Create a New Account
            </div>

            <div class="card">
                <div class="card-body register-card-body">
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <form method="post">
                        <div class="input-group mb-3">
                            <input asp-for="Input.FirstName" class="form-control" placeholder="First name">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-user"></span>
                                </div>
                            </div>
                        </div>
                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                        <div class="input-group mb-3">
                            <input asp-for="Input.LastName" class="form-control" placeholder="Last name">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-user"></span>
                                </div>
                            </div>
                        </div>
                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                        <div class="input-group mb-3">
                            <input asp-for="Input.Email" class="form-control" placeholder="Email">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-envelope"></span>
                                </div>
                            </div>
                        </div>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                        <div class="input-group mb-3">
                            <input asp-for="Input.Password" class="form-control" placeholder="Password">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                        </div>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                        <div class="input-group mb-3">
                            <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Retype password">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                        </div>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        <div class="row">
                            <button type="submit" class="btn btn-primary btn-block">Register</button>
                            <!-- /.col -->
                        </div>
                    </form>
                    <a asp-page="./Login"  class="text-center">I already have an account</a>
                </div>
                <!-- /.form-box -->
            </div><!-- /.card -->
        </div>
        <!-- /.register-box -->
    </div>

        @section Scripts {
            <partial name="_ValidationScriptsPartial" />
        }
